<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pfp.mapper.boardMapper">
	
	<!-- 게시물 총 개수 -->
	<select id="count" resultType="int">
		select count(*) from board
	</select>
	
	<!-- 게시물 목록 -->
	<select id="list" resultType="org.pfp.dto.BoardVO">
		select boardCode, userId, content, picture, tag, good, title, regiDate
		from board
	</select>
	
	<!-- 게시물 목록 + 페이 -->
	<select id="listPage" parameterType="hashMap" resultType="org.pfp.dto.BoardVO">
		select boardCode, userId, content, picture, tag, good, title, regiDate
		from board
		order by boardCode desc
		limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 게시물 등록 -->
	<insert id="resist">
		insert into 
		board(boardCode, userId, content, picture, tag, good, title, regiDate)
		values(#{boardCode}, #{userId}, #{content}, #{picture}, #{tag}, 0, #{title}, SYSDATE())
	</insert>
	
	<!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="org.pfp.dto.BoardVO">
		select boardCode, userId, content, picture, tag, good, title, regiDate
		from board
		where boardCode = #{boardCode}
	</select>
	
</mapper>