<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pfp.mapper.goodsMapper">

	<!-- 추천순 -->
	<select id="listRecommand" parameterType="hashmap" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d') as releaseDate
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) saleBid
		from item i
		<if test="start != null and end != null">
		where (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &gt;= #{start} and (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &lt;= #{end}
		</if>
		<if test="start == 0">
		or (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) is null
		</if>
		order by recommand desc
	</select>
	
	<!-- 인기순 -->
	<select id="listPopular" parameterType="hashmap" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d') as releaseDate
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) saleBid
		,((select count(*) from interest t where t.modelNum = i.modelNum)+(select count(*) from buy b where b.modelNum = i.modelNum)) rnk
    	from item i
    	<if test="start != null and end != null">
		where (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &gt;= #{start} and (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &lt;= #{end}
		</if>
		<if test="start == 0">
		or (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) is null
		</if>
		order by rnk desc
	</select>
	
	<!-- 최신 발매순 -->
	<select id="listLatest" parameterType="hashmap" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d') as releaseDate
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) saleBid
		from item i
		<if test="start != null and end != null">
		where (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &gt;= #{start} and (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &lt;= #{end}
		</if>
		<if test="start == 0">
		or (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) is null
		</if>
		order by releaseDate desc
	</select>
	
	<!-- 낮은 판매가순 -->
	<select id="listCheap" parameterType="hashmap" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d') as releaseDate
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) saleBid
    	from item i
    	<if test="start != null and end != null">
		where (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &gt;= #{start} and (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &lt;= #{end}
		</if>
		<if test="start == 0">
		or (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) is null
		</if>
		order by saleBid
	</select>
	
	<!-- 높은 판매가순 -->
	<select id="listExpensive" parameterType="hashmap" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d') as releaseDate
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) saleBid
    	from item i
    	<if test="start != null and end != null">
		where (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &gt;= #{start} and (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) &lt;= #{end}
		</if>
		<if test="start == 0">
		or (select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) is null
		</if>
		order by saleBid desc
	</select>
	
	<!-- 해당 상품의 detail -->
	<select id="detail" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d') as releaseDate
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum and s.salesCode not in (select d.salesCode from deal d)) saleBid
		,(select max(buyPrice) from buy b where b.modelNum = i.modelNum and b.buyCode not in (select d.buyCode from deal d) and date_format(b.endDate, '%Y-%m-%d') >= date_format(curdate(), '%Y-%m-%d')) buyBid
    	from item i
    	where i.modelNum = #{modelNum}
	</select>
	
	<!-- size별 즉시구매가 -->
	<select id="priceBySize" resultType="org.pfp.dto.GoodsVO">
		select size ,min(salesPrice) as saleBid
		from sales
		where modelNum = #{modelNum} and salesCode not in (select d.salesCode from deal d)
		<if test="size != null and size > 0">
		and size = #{size}
		</if>
		group by size
	</select>
	
	<!-- size별 즉시핀매가 -->
	<select id="salesBySize" resultType="org.pfp.dto.GoodsVO">
		select size ,max(buyPrice) as buyBid
		from buy
		where modelNum = #{modelNum} and buyCode not in (select d.buyCode from deal d)
		<if test="size != null and size > 0">
		and size = #{size}
		</if>
		group by size
	</select>
</mapper>