<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pfp.mapper.goodsMapper">

	<!-- 추천순 -->
	<select id="listRecommand" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d')
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum) bidPrice
		from item i
		order by recommand desc
	</select>
	
	<!-- 인기순 -->
	<select id="listPopular" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d')
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum) bidPrice
		,((select count(*) from interest t where t.modelNum = i.modelNum)+(select count(*) from buy b where b.modelNum = i.modelNum)) rnk
    	from item i
		order by rnk desc
	</select>
	
	<!-- 최신 발매순 -->
	<select id="listLatest" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d')
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum) bidPrice
		from item i
		order by releaseDate desc
	</select>
	
	<!-- 낮은 판매가순 -->
	<select id="listCheap" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d')
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum) bidPrice
    	from item i
		order by bidPrice
	</select>
	
	<!-- 높은 판매가순 -->
	<select id="listExpensive" resultType="org.pfp.dto.GoodsVO">
		select i.modelNum, i.itemGroup, i.itemName, i.thumbnail, i.itemContent, i.releasePrice, i.recommand, date_format(i.releaseDate, '%Y-%m-%d')
		,(select min(salesPrice) from sales s where s.modelNum = i.modelNum) bidPrice
    	from item i
		order by bidPrice desc
	</select>
</mapper>