<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pfp.mapper.memberMapper">
	<!-- 회원가입 -->
	<insert id="register">
	insert into member(userId, userPw, nickname, userTel, email, address, postNum, birthday, emailReceive, messageReceive)
		values(#{userId}, #{userPw}, #{nickname}, #{userTel}, #{email}, #{address}, #{postNum}, #{birthday}, #{emailReceive}, #{messageReceive})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="org.pfp.dto.MemberVO">
		select userId, userPw, nickname, address, postNum
		from member
		where userId = #{userId}
		<!--  and userPw = #{userPw} -->
	</select>
	
	<!-- 공개용 개인정보  -->
	<select id="memberInfo" resultType="org.pfp.dto.MemberVO">
		select userId, nickname
		from member
		where userId = #{userId}
	</select>
	
	<!-- 회원 수정 -->
	<update id="memberModify">
		update member
		<trim prefix="set" suffixOverrides=",">
			<if test="userPw != null">userPw = #{userPw},</if>
			<if test="nickname != null">nickname = #{nickname},</if>
			<if test="userTel != null">userTel = #{userTel},</if>
			<if test="email != null">email = #{email},</if>
			<if test="address != null">address = #{address},</if>
			<if test="postNum != null">postNum = #{postNum},</if>
			<if test="birthday != null">birthday = #{birthday},</if>
			<if test="emailReceive != null || emailReceive == 0 || emailReceive == 1">emailReceive = #{emailReceive},</if>
			<if test="messageReceive != null || messageReceive == 0 || messageReceive == 1">messageReceive = #{messageReceive},</if>
		</trim>
		where userId = #{userId}
	</update>
</mapper>