<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pfp.mapper.memberMapper">

	<!-- 회원가입 -->
	<insert id="register">
	insert into member(userId, userPw, nickname, userTel, email, address, postNum, birthday, emailReceive, messageReceive)
		values(#{userId}, #{userPw}, #{nickname}, #{userTel}, #{email}, #{address}, #{postNum}, #{birthday}, #{emailReceive}, #{messageReceive})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="org.pfp.dto.MemberVO">
		select userId, userPw, nickname, address, postNum
		from member
		where userId = #{userId}
		<!--  and userPw = #{userPw} -->
	</select>
</mapper>